# Dataframe creation

    In this notebook all data that we need stored in one file.
    In this case, "IMPORTING_COLUMNS" is the columns that we need to the our model
    
    Next we clean data, and save with pandas dropna and to_csv methods

In [1]:
import pandas as pd
import glob
import gc

In [2]:
# Specify what folders do we need
INPUT_FOLDER      = './data_preprocessed2/'
IMPORTING_COLUMNS = ['velocity', 'acceleration', 'trajectory_id', 'subfolder',
                     'labels', 'v_ave', 'v_med', 'v_max', 'v_std', 'a_ave', 'a_med', 'a_max', 'a_std']

In [5]:
list_df_metadata = []

# Find all files that ends with .csv, read and append to the list_df_metadata
for filename in glob.glob(INPUT_FOLDER + '*.csv'):
    df_data = pd.read_csv(filename, usecols=IMPORTING_COLUMNS)
    list_df_metadata.append(df_data)
    
df_metadata = pd.concat(list_df_metadata)
df_metadata.head()

/home/xyz/Program/miniconda3/envs/ml/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,velocity,acceleration,trajectory_id,subfolder,labels,v_ave,v_med,v_max,v_std,a_ave,a_med,a_max,a_std
0,2.990467,-1.126716,20090312003145,38,NaN,3.26967,3.151913,60.043321,3.130602,0.01188,0.0,29.74198,1.537051
1,1.863751,-0.317228,20090312003145,38,NaN,3.26967,3.151913,60.043321,3.130602,0.01188,0.0,29.74198,1.537051
2,0.594837,0.074268,20090312003145,38,NaN,3.26967,3.151913,60.043321,3.130602,0.01188,0.0,29.74198,1.537051
3,0.891910,-0.115807,20090312003145,38,NaN,3.26967,3.151913,60.043321,3.130602,0.01188,0.0,29.74198,1.537051
4,0.081261,0.000762,20090312003145,38,NaN,3.26967,3.151913,60.043321,3.130602,0.01188,0.0,29.74198,1.537051

In [6]:
# Drop Nan values
print('Before shape: ', df_metadata.shape)

df_cleaned = df_metadata.dropna()

print('After shape: ', df_cleaned.shape)

Before shape:  (24876978, 13)
After shape:  (4699328, 13)

In [7]:
df_cleaned.head()

,velocity,acceleration,trajectory_id,subfolder,labels,v_ave,v_med,v_max,v_std,a_ave,a_med,a_max,a_std
0,16.108078,-0.588742,20080509043509,89,car,8.79689,8.688512,21.7058,5.419097,-0.031366,-0.032979,1.211086,0.426994
1,15.519336,-0.419958,20080509043509,89,car,8.79689,8.688512,21.7058,5.419097,-0.031366,-0.032979,1.211086,0.426994
2,14.679420,-0.007034,20080509043509,89,car,8.79689,8.688512,21.7058,5.419097,-0.031366,-0.032979,1.211086,0.426994
3,14.665352,0.320263,20080509043509,89,car,8.79689,8.688512,21.7058,5.419097,-0.031366,-0.032979,1.211086,0.426994
4,15.305877,0.604292,20080509043509,89,car,8.79689,8.688512,21.7058,5.419097,-0.031366,-0.032979,1.211086,0.426994

In [8]:
# Show all available unique labels
df_cleaned['labels'].unique()

array(['car', 'walk', 'bus', 'bike', 'taxi', 'airplane', 'subway',
       'train', 'run', 'boat', 'motorcycle'], dtype=object)

In [11]:
df_cleaned.to_csv('total2.csv')