In [5]:
import pandas as pd
import glob
import gc

In [6]:
INPUT_FOLDER      = './data_preprocessed/'
IMPORTING_COLUMNS = ['velocity', 'acceleration', 'trajectory_id', 'subfolder',
                     'labels', 'v_ave', 'v_med', 'v_max', 'a_ave', 'a_med', 'a_max',
                     'datetime', 'timedelta']

In [20]:
import datetime as dt
list_df_metadata = []

# Convert str datetime to datetime format
def to_datetime(string):
    return dt.datetime.strptime(string, '%Y-%m-%d %H:%M:%S')

def grouping_data(data):
    data['year'] = data['datetime'].apply(lambda x: x.year)
    data['month'] = data['datetime'].apply(lambda x: x.month)
    data['day'] = data['datetime'].apply(lambda x: x.day)
    
    g=data.groupby(['year', 'month', 'day'])['velocity', 'acceleration', 'v_ave', 'v_med','v_med'].mean()
    print(g)

for filename in glob.glob(INPUT_FOLDER + '*.csv'):
    df_data = pd.read_csv(filename, usecols=IMPORTING_COLUMNS, 
                          date_parser=to_datetime,
                          parse_dates=['datetime'])
    grouping_data(df_data)
    list_df_metadata.append(df_data)
    break
    
df_metadata = pd.concat(list_df_metadata)
df_metadata.head()

                velocity  acceleration     v_ave     v_med     v_med
year month day
2009 2     6    6.657283     -0.011428  6.657283  5.307901  5.307901
           7    4.119154     -0.008506  4.146153  2.309717  2.309717
           8    2.391598     -0.010758  2.364229  1.220184  1.220184
           9    2.278634     -0.019847  2.278606  1.408582  1.408582
           10   2.913861     -0.014752  2.914543  1.371353  1.371353
           11   5.813446     -0.013133  5.813446  2.236919  2.236919
           12   2.253416     -0.011158  2.253416  1.404270  1.404270
           13   3.925340     -0.016465  3.064783  1.835752  1.835752
           14   1.961493     -0.022302  2.742612  1.578503  1.578503
           15   1.939670     -0.008469  1.940271  1.378543  1.378543
           16   1.681582     -0.009461  1.681725  1.392375  1.392375
           17   1.624390     -0.011197  1.624586  1.300073  1.300073
           18   5.568401     -0.002591  5.567866  2.481467  2.481467
           19   1.470095     -0.008679  1.470523  1.062464  1.062464
           20   2.208291     -0.002326  2.208291  1.391853  1.391853
           21   2.096852     -0.012194  2.097877  1.308704  1.308704
           22   2.215533      0.008793  2.235758  1.515405  1.515405
           23   2.836877     -0.017918  2.811886  2.746777  2.746777
           24   2.202890     -0.046002  2.202890  1.646928  1.646928
           25   3.376361      0.007964  3.376361  2.516285  2.516285
           26   2.368436     -0.017307  2.368436  1.606953  1.606953
           27   3.761799     -0.011022  3.761799  2.800604  2.800604
           28   2.308176     -0.015663  2.308176  1.582419  1.582419
     3     1    2.130125     -0.011708  2.130125  1.862853  1.862853
           2    2.660875     -0.020635  2.660864  1.862387  1.862387
           3    1.163585     -0.010853  1.164599  0.035133  0.035133
           4    2.490632     -0.010536  2.489483  1.881485  1.881485
           5    2.294026     -0.019407  2.294848  1.888506  1.888506
           6    2.811665      0.049694  2.711346  1.807147  1.807147
           7    3.246642     -0.010378  3.334833  2.644147  2.644147
...                  ...           ...       ...       ...       ...
           24   2.388456     -0.010707  2.388456  2.135852  2.135852
     4     2    4.176828     -0.007050  4.176828  2.522692  2.522692
           3    1.956214     -0.007540  1.956214  1.588142  1.588142
           4    3.810889     -0.002945  3.810889  5.456057  5.456057
           7    2.026188     -0.052882  2.855932  1.092399  1.092399
           8    8.762577      0.014904  7.766608  2.861491  2.861491
           9    3.313498     -0.041322  3.315889  2.983002  2.983002
           10   2.177926     -0.006338  2.189147  1.633014  1.633014
           11   5.478513     -0.010548  5.294223  5.547609  5.547609
           12   2.190600     -0.012493  2.190601  1.557524  1.557524
           13   1.626386     -0.022633  1.626386  0.365258  0.365258
           14   2.641238     -0.068264  2.596783  2.234746  2.234746
           15   2.229902     -0.077201  2.235569  1.672649  1.672649
           16   2.677234     -0.005183  2.677234  2.856658  2.856658
           17   2.456148      0.036854  2.456148  0.992637  0.992637
           18   1.733633     -0.014127  1.733633  0.628331  0.628331
           20   1.655138     -0.025990  1.655138  0.508032  0.508032
           22   2.046172     -0.012382  2.046172  0.929650  0.929650
     7     9    3.127792      0.002785  3.130190  0.757347  0.757347
           10   4.201762     -0.009361  4.201762  4.344325  4.344325
           11   2.509347     -0.008189  2.507518  1.263160  1.263160
           12   0.394045     -0.002902  0.394045  0.034160  0.034160
           14   4.675770      0.006385  4.740115  4.199364  4.199364
           15   3.283722     -0.013581  3.243821  3.023262  3.023262
           16   3.445977     -0.004608  3.459525  3.162273  3.162273
           17   3.115853     -0.018598  3.115853  1.571968  1.571968
           18   5.464035     -0.026857  5.464188  3.728794  3.728794
           19   1.309729     -0.040919  1.309729  0.873432  0.873432
           20   3.773007     -0.009493  3.773007  1.997322  1.997322
           23   3.126143     -0.011418  3.126143  1.288580  1.288580

[76 rows x 5 columns]

,datetime,timedelta,velocity,acceleration,trajectory_id,subfolder,labels,v_ave,v_med,v_max,a_ave,a_med,a_max,year,month,day
0,2009-03-12 00:31:45,0 days 00:00:01.000000000,2.990467,-1.126716,20090312003145,38,NaN,3.26967,3.151913,60.043321,0.01188,0.0,29.74198,2009,3,12
1,2009-03-12 00:31:46,0 days 00:00:04.000000000,1.863751,-0.317228,20090312003145,38,NaN,3.26967,3.151913,60.043321,0.01188,0.0,29.74198,2009,3,12
2,2009-03-12 00:31:50,0 days 00:00:04.000000000,0.594837,0.074268,20090312003145,38,NaN,3.26967,3.151913,60.043321,0.01188,0.0,29.74198,2009,3,12
3,2009-03-12 00:31:54,0 days 00:00:07.000000000,0.891910,-0.115807,20090312003145,38,NaN,3.26967,3.151913,60.043321,0.01188,0.0,29.74198,2009,3,12
4,2009-03-12 00:32:01,0 days 03:09:26.000000000,0.081261,0.000762,20090312003145,38,NaN,3.26967,3.151913,60.043321,0.01188,0.0,29.74198,2009,3,12

In [16]:
df_metadata.dtypes

datetime         datetime64[ns]
timedelta                object
velocity                float64
acceleration            float64
trajectory_id             int64
subfolder                 int64
labels                  float64
v_ave                   float64
v_med                   float64
v_max                   float64
a_ave                   float64
a_med                   float64
a_max                   float64
dtype: object